:root {
  --bg-color: white;
  --text-logo: #000929;
  --bg-gray: #f9fafc;
  --text-color: #475467;
}

body.dark {
  --bg-color: #2d2b2b;
  --text-logo: #fff;
  --bg-gray: #2d2b2b;
  --text-color: #fff;
}

/* Base styles */
html {
  scroll-behavior: smooth;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  width: 100%;
  line-height: 1;
  font-family: 'Inter', sans-serif;
}

body.menu-open {
  overflow: hidden;
}

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--text-color);
  transition: all 0.5s ease;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

/* Layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button--secondary {
  background: linear-gradient(90deg, #3e4d84 0%, #202746 49%, #181f37 100%);
  color: #fff;
}

.button--primary:hover {
  color: var(--text-logo);
  box-shadow: 0 0 5px rgba(186, 186, 186, 0.8);
}

.button {
  padding: 12.5px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  transition: all 0.3s ease;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
